version: '3.8'

services:
  # Flask API Service
  api:
    build: .
    container_name: neo4j_cost_api
    command: gunicorn --bind 0.0.0.0:8000 --chdir visualization --timeout 600 graph_api_server:app
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - .:/app
